*{
  box-sizing: border-box;
}
body{
  background-color: rgba(251, 239, 161, 0.327);
}
h1{
  font-size: 30px;
}

.mb-10{
  margin-bottom: 10px;
}
.mb-30{
  margin-bottom: 30px;
}
.mt-30{
  margin-top: 30px;
}
.container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
}
.footer__container{
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 5% 11%;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 3px 3px 5px rgba(161, 161, 161, 0.643);
  border-radius: 5px;
}
.cards__container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  padding: 20px;
}
.card__image{
  width: 100%;
  display: flex;
  justify-content: center;
}
.card{
  width: 30%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(161, 161, 161, 0.643);
  border-radius: 5px;
}

.button__container{
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.button{
  border: none;
  background-color: yellow;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 30px;
}
.card-form-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.label{
  width: 100%;
}
.form__input{
  width: 100%;
}
.button__add-new{
  width: 100%;
}

.nav{
  background-color: rgba(238, 238, 147, 0.631);
  padding: 5px 0;
  box-shadow: 3px 3px 5px rgba(161, 161, 161, 0.643);
}

.image{
  width: 70%;
  border: 1px solid black;
}
.form__edit--hidden{
  display: none;
}